<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css" type="text/css"/>
  <title>background-color</title>
 </head>
 <body class="test">
 <header>
 <p class="boysCitata"> тут будет ползущая строка с пацанскими цитатами</p>
 </header>
 
 <div class="main_meny">
	<div id="dontWork">
		<a type="button" href="#" class="batony">Тесты</a>
		<a type="button" href="#" class="batony">Курсы</a>
	</div>
	<a href="js.html" class="batony">Задание на js</a>
	
 </div>
   <h1>Lorem ipsum dolor sit amet</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem 
  nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat.</p>
 </body>
 </html>