<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css" type="text/css"/>
  <title>background-color</title>
 </head>
 <body class="test">
 <header>
 <p class="boysCitata"> тут будет ползущая строка с пацанскими цитатами</p>
 </header>
 <div class="boysCitata">
	<div>
		<p">Введи число:</p> 
		<input id="in0" class="boxInput" type="text" value="0" ></input>
   	</div>
	<div>
		<button>рандомный оператор:</button>
		<p id="randOperator"></p>
	</div>
	<div>
		<p>Введи число:</p>
		<input id="in1" ></input>
		<button id="resButton">нажми на меня</button>
	</div>
   <p>Я что-то смог:</p>
   <p id="someRes">zero</p>
   <div>
		<p>введи имя</p>
		<input id="vvName"></input>
		<p>введи текст</p>
		<input id="vvText"></input>
		<button id="sendButton">Перестань быть интровертом</button>
		
   </div>
  </div>
 </body>
 <script src="js.js"></script>
</html>