{% extends "base.html" %}

{% block content %}

<div class="flex"> 
	<form method="post" action="test">
		<button type="submit" name="marker" value="easy_question" class="hard">Easy</button>
	</form>
	<form method="post" action="test">
		<button type="submit" name="marker" value="medium_question" class="hard">Medium</button>
	</form>
	<form method="post" action="test">
		<button type="submit" name="marker" value="hard_question" class="hard">HARD</button>
	</form>
	<form method="post" action="test">
		<button type="submit" name="marker" value="die"  class="hard">die or die</button>
	</form>

{{ marker }}

</div>
{% endblock %}
