{% extends "base.html" %}

{% block content %}
<form method="post" action="test">
<div class="question"> 
	<p>Question: {{question}}</p>
	<p><input class="question" type="radio" name="answer" id="a1" value='1'> {{answer0}}</p>
	<p><input class="question" type="radio" name="answer" id="a2" value='2'> {{answer1}}</p>
	<p><input class="question" type="radio" name="answer" id="a3" value='3'> {{answer2}}</p>
	<p><input class="question" type="radio" name="answer" id="a4" value='4'> {{answer3}}</p>
	
	
		<button type="submit" name="buttonradio" value="readyanswer" class="button"> sent answer</button>
   
  
    {{spis}}






</div>

 </form>
{% endblock %}
